/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:2px 0pt 3px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #51a7da;
	border: 1px solid #FFF;
	font-size: 8pt;
	color:#fff;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image:url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody tr.selected td{
	/*background-color: #02B9FD;*/
	background-color:#7F9FAA;
	color:#FFFFFF;
}

tbody tr.selected td{
	background-color: #02B9FD;
	color:#FFFFFF;
}

tbody tr.selected td span{
	background-color: #02B9FD;
	color:#FFFFFF;
}


table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 1px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
tbody tr.highlight td{
	background-color: #D5F1F1;
	color:#000000;
	font-weight:bold;
}
table.tablesorter tbody tr.high {
	background-color: #D5F1F1;
	color:#FFFFFF;
	cursor:pointer;
}

.tablescroll
{ font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll td
{ padding:3px 5px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:11px; font-weight:bold; background-color:#E6EEEE; border-left:0; border-top:0; margin-bottom:3px; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr.first td
{ border-top:0; }

.tablescroll_foot
{ font-weight:bold; background-color:#E6EEEE; border-left:0; border-top:0; margin-top:3px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0;  }

table.tablesorter tfoot td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}